@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	min-width: 320px;
	width: 100vw;
	min-height: 100vh;
	height: 100vh;
	cursor: url('assets/cursor.png'), auto;
	background-color:#323133;
	&:after {
		content: '';
		position: absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
		z-index:0;
		background: repeating-linear-gradient(0deg, #111 0px, #111 1px, transparent 1px, transparent 5px);
		background-size:100% 5px;
		animation: lines 2000ms ease-out infinite;
		opacity:0.3;
		mix-blend-mode: color-burn;
		pointer-events: none;
	}
}

#root {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	display: flex;
	width: 100vw;
	min-width: 320px;
	min-height: 100vh;
	height: 100vh;
	cursor: url('assets/cursor.png'), auto;
}

button {
	cursor: url('assets/cursor.png'), auto;
}

@keyframes lines {
	0% {
		background-position:0px 0px;
	}
	100% {
		background-position:0px 25px;
	}
}